/*  style.css      */
/*  My Portfolio   */
/*  29/Jun/2019    */

body {
    background-image:   url("../images/ep_naturalwhite.png");
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

  
/* - - - -  class  - - - - - */  
/* Aplica a mi PC y ipad horizontal. PC: hasta 100% zoom en Chrome */

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 30%;
    left: 12%;
  }
  
  .top-left {
    position: absolute;
    top: 30%;
    left: 12%;
  }
  
  .top-right {
    position: absolute;
    top: 30%;
    right: 12%;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 30%;
    right: 12%;
  }
  
  .top-centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .centerImage2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .card-group{
      max-width: 85%;
      margin: auto;
  }

  .fontSize1 {
    font-size: 0.8rem;
  }

  .card-deck{
    max-width: 85%;
    margin: auto;
  }


/* - - - -  id  - - - - - */
#imgBB {
    max-width: 80%;
}


/* - - -  Media Queries  - - - */
@media only screen and (max-width: 980px) {   /* PC: 110 - 125% zoom en Chrome */
}

@media only screen and (max-width: 768px) {   /* Aplica a mi celular horizontal y ipad vertical. PC: 150% zoom en Chrome  */
}

@media only screen and (max-width: 640px) {   /* Aplica a mi celular vertical. PC: 125% - 500% zoom en Chrome  */
    #imgBB {
        max-width: 95%;
    }
    
    .centerImage2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: small;
    }

}
